<template>
  <Layout>
    <div class="container mx-auto">
      <h1 class="uppercase text-4xl text-indigo-500 font-bold">About us</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloremque omnis animi, eligendi magni a voluptatum, vitae, consequuntur rerum illum odit fugit assumenda rem dolores inventore iste reprehenderit maxime! Iusto.</p>
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
      </div>
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
      </div>
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
      </div>
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
      </div>
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
        <div class="flex-1 bg-orange-500 rounded-lg p-8 shadow-lg max-w-md mt-4">Experimental</div>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "About"
  }
};
</script>
