<template>
  <Layout>
    <section
      class="box"
      style="background-image: url('undraw_hiking_d24r.svg'); background-position:
fixed; background-repeat: no-repeat; background-size: cover;"
    >
      <div
        class="mx-auto rounded-lg"
        style=" background-size: cover; background-position: center; width: 100%; height: 24.5rem; position: relative; margin-bottom: 2.625rem; background-repeat: no-repeat;"
      >
        <h1
          class="p-20 relative uppercase text-6xl mb-0 tracking-loose font-bold text-gray-700 mx-8"
        >
          All the
          <br />World's
          <br />A Stage.
          <!-- <span
            class="p-20 py-0 absolute uppercase text-2xl text-gray-800"
            style="top: 350px; left: 5px;"
          >So we set it up</span>-->
        </h1>

        <!-- <g-image src="../../static/functiong.svg" /> -->

        <!-- <p class="home-links flex p-8 justify-between">
          <a href="https://gridsome.org/docs" target="_blank" rel="noopener">Gridsome Docs</a>
          <a href="https://github.com/gridsome/gridsome" target="_blank" rel="noopener">GitHub</a>
        </p>-->
      </div>
    </section>
    <section class="container mx-auto mb-16 sm:mb-8">
      <div
        class="bg-red-700 flex p-8 md:p-4 mt-16 justify-between items-center shadow-2xl rounded-lg rounded-l-full"
      >
        <div class="flex-1">
          <g-image src="../../static/clean.svg" class="rounded-l-full border-r-8 border-red-300" />
        </div>
        <div class="flex-1">
          <p class="uppercase px-4 py-2 md:p-4 ml-4 text-white font-bold text-6xl">stage</p>
          <p
            class="text-white px-4 py-2 ml-4 md:p-4"
          >We took on the stage and assembled a plethora of equipments just because we are world class</p>
          <button
            class="py-2 uppercase bg-white hover:bg-red-800 hover:text-white rounded-full px-8 ml-8"
          >more</button>
        </div>
      </div>
    </section>

    <section class="container mx-auto mb-16 sm:mb-8">
      <div
        class="bg-red-200 flex p-8 md:p-4 mt-16 justify-between items-center shadow-2xl rounded-lg rounded-r-full"
      >
        <div class="flex-1">
          <p class="uppercase px-4 py-4 md:p-4 text-red-700 font-bold text-6xl">Sound</p>

          <p
            class="text-gray px-4 py-4 md:p-4"
          >Now when we talk about sound we mean high fidelity, low latency and high throughput. Nothing is left to chance</p>
          <button
            class="py-2 uppercase bg-red-700 hover:bg-white hover:text-red-700 text-white rounded-full px-8 py-2 ml-4"
          >more</button>
        </div>
        <div class="flex-1">
          <g-image src="../../static/record.svg" class="rounded-r-full border-l-8 border-red-700" />
        </div>
      </div>
    </section>
    <section class="container mx-auto mb-16 sm:mb-8">
      <div
        class="bg-red-700 flex p-8 md:p-4 mt-16 justify-between items-center shadow-2xl rounded-lg rounded-l-full"
      >
        <div class="flex-1">
          <g-image
            src="../../static/lighthouse.svg"
            class="rounded-l-full border-r-8 border-red-300"
          />
        </div>
        <div class="flex-1">
          <p class="uppercase px-4 py-2 md:p-4 ml-4 text-white font-bold text-6xl">Lights</p>
          <p
            class="text-white px-4 py-2 ml-4 md:p-4"
          >We set the mood with our lighting setup which spans a wide variety of brands.</p>
          <button
            class="py-2 uppercase bg-white hover:bg-red-800 hover:text-white rounded-full px-8 ml-8"
          >more</button>
        </div>
      </div>
    </section>

    <section class="container mx-auto mb-16 sm:mb-8">
      <div
        class="bg-red-200 flex p-8 md:p-4 mt-16 justify-between items-center shadow-2xl rounded-lg rounded-r-full"
      >
        <div class="flex-1">
          <p class="uppercase px-4 py-2 md:p-4 ml-4 text-red-700 font-bold text-6xl">Screen</p>

          <p
            class="text-gray px-4 py-4 md:p-4 ml-4"
          >The message gets clearer with the big picture. That's why our screens get the job done everytime</p>
          <button
            class="py-2 px-2 uppercase bg-red-700 hover:bg-white hover:text-red-700 text-white rounded-full px-8 ml-8 mb-6"
          >more</button>
        </div>
        <div class="flex-1">
          <g-image src="../../static/mobile.svg" class="rounded-r-full border-l-8 border-red-700" />
        </div>
      </div>
    </section>
    <section class="container bg-red-700 mx-auto rounded-lg p-4 shadow-2xl mt-16 mb-16">
      <div class="container-inner mx-auto text-xl pb-4 relative">
        <h2
          class="text-4xl text-red-200 text-center uppercase font-bold mb-0 bg-red-700 p-4 rounded-t-lg"
          id="contact"
        >get in touch</h2>
        <div class="overflow-x-hidden bg-red-100 p-8 rounded-b-lg mb-6">
          <div class="contact-me pt-16">
            <div class="absolute right-0 top-0" style="transform: translate(100%) rotate(180deg)">
              <svg width="170px" height="170px">
                <use xlink:href="#dots-triangle" />
              </svg>
            </div>

            <p class="mb-12 text-center">
              Visit our offices at somewhere on the island.
              <br />Call on
              <button class="bg-red-700 hover:bg-red-800 text-white rounded-full px-4 py-2">
                <a href="tel:08185553555">08185553555</a>
              </button>
            </p>
            <div class="text-lg sm:text-lg mb-16">
              <form action="#" class="mb-12">
                <div class="flex flex-wrap mb-6 -mx-4">
                  <div class="w-full md:w-1/2 mb-6 md:mb-0 px-4">
                    <label class="block mb-2 text-copy-primary" for="name">Name</label>

                    <input
                      type="text"
                      name="name"
                      id="name"
                      placeholder="Nelson Jack"
                      class="block w-full bg-background-form border border-border-color-primary shadow rounded outline-none focus:border-red-700 mb-2 p-4"
                      required
                    />
                  </div>

                  <div class="w-full px-4 md:w-1/2">
                    <label class="block text-copy-primary mb-2" for="email">Email Address</label>

                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="email@example.com"
                      class="block w-full bg-background-form border border-border-color-primary shadow rounded outline-none focus:border-red-700 mb-2 p-4"
                      required
                    />
                  </div>
                </div>

                <div class="w-full mb-12">
                  <label class="block text-copy-primary mb-2" for="message">Message</label>

                  <textarea
                    id="message"
                    rows="5"
                    name="message"
                    class="block w-full bg-background-form border border-border-color-primary shadow rounded outline-none appearance-none focus:border-red-700 mb-2 px-4 py-4"
                    placeholder="Enter your message here."
                    required
                  ></textarea>
                </div>

                <div class="flex justify-end w-full">
                  <input
                    type="submit"
                    value="Submit"
                    class="block text-white rounded-full bg-red-700 hover:bg-red-800 text-white text-sm font-semibold tracking-wide uppercase shadow rounded cursor-pointer px-6 py-3"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end contact-me -->
      </div>
    </section>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Home"
  }
};
</script>


