<template>
  <div class="layout bg-red-100 min-h-screen">
    <header
      class="header flex bg-red-700 justify-between items-center p-8 px-16 mb-0 shadow-lg"
      style="position: sticky;"
    >
      <strong>
        <g-link to="/" class="text-white font-bold uppercase">{{ $static.metaData.siteName }}</g-link>
      </strong>
      <nav class="nav">
        <g-link
          class="nav__link mr-8 uppercase text-base text-red-900 hover:text-white bg-red-300 hover:bg-red-800 rounded-lg py-2 px-3"
          to="/"
        >Home</g-link>
        <!-- <g-link
          class="nav__link mr-8 uppercase text-base text-red-900 hover:text-white bg-red-300 hover:bg-red-800 rounded-lg py-2 px-3"
          to="/about"
        >About</g-link>-->
      </nav>
    </header>
    <TheHeader />
    <slot />
  </div>
</template>

<static-query>
query {
  metaData {
    siteName
  }
}
</static-query>

<script>
export default {};
</script>

<style src="~/main.css" />
